html, body{
  margin: 0
  padding: 0
  width: 100%
  height: 100%
}
 
body{
  background-image: url(https://www.4ui.cn/uploads/bing/2017/06/18/thumb_1366x768_6dafe7993436870b21004fe38a763e14.jpg)
  background-size: cover
  background-position: center
  font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif
  color: #4d4d4d
  -webkit-font-smoothing: antialiased // 这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服
  font-weight: 300
}
